.gry-container {
    text-align: center;
    padding: 20px;
    color: white;
  }
  
  .gry-search {
    padding: 10px;
    width: 250px;
    margin-bottom: 10px;
  }
  
  .gry-controls button {
    margin: 5px;
    padding: 8px;
    cursor: pointer;
    background-color: rgb(31, 22, 153);
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .gry-controls button:hover {
    background-color: rgb(20, 50, 100);
  }
  
  .gry-select {
    padding: 8px;
    margin: 10px;
    border-radius: 5px;
  }
  
  .gry-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gry-item {
    background-color: rgb(31, 22, 153);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
  }
  
  .gry-image {
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 10px; 
    display: block; 
    margin: 0 auto 10px; 
}
